.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Asegúrate de que tu archivo Tailwind esté configurado correctamente */

.App {
  text-align: center;
}

/* Puedes añadir estilos adicionales aquí si es necesario */

/* src/App.css o en un archivo CSS específico para tu componente */
.modal-form .modal-dialog {
  max-width: 500px; /* Ajusta el ancho según tus necesidades */
  margin: 1.75rem auto; /* Centra verticalmente en la pantalla */
}

.modal-form .modal-content {
  padding: 20px; /* Espaciado interno del modal */
}

.modal-form .modal-header,
.modal-form .modal-footer {
  border: none; /* Opcional: quita el borde del modal */
}

.modal-form .modal-body {
  padding: 1.5rem; /* Ajusta el espaciado interno del cuerpo del modal */
}

.modal-form .form-group {
  margin-bottom: 1rem; /* Espaciado inferior del grupo de formulario */
}
